/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: small;
}

body {
    background-color: #f4f4f4;
}

/* Typography */
h1, h2, h3 {
    font-weight: normal;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    color: #8E6C4B;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #ffffff;
    text-align: left;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

p {
    line-height: 1.5;
}

/* Strong text */
strong {
    font-weight: bold;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #8E6C4B;
    padding: 1rem;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li a {
    color: #8E6C4B;
    text-decoration: none;
    font-weight: bold;
}

/* Parallax Sections */
.parallax {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #8E6C4B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallax h2{
    text-align: left;
    align-self: flex-start;
    margin-bottom: 25px;
    margin-top: 50px;
}

.image-parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 59, 51, 0.5);
    border-radius: 10px;
}

/* Individual Parallax Sections */
.parallax-1 {
    background-image: url('wood_background_1.jpg');
    padding-bottom: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.parallax-2 {
    background-image: url('wood_background_2.png');
    color: #ffffff;
    padding-bottom: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.parallax-3 {
    min-height: 300px;
    background-image: url('wood_background_3.jpg');
    padding-bottom: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

/* Content Sections */
.content {
    padding: 0.5rem;
    margin: 50px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-text-item {
    width: 50%;
    text-align: left;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #645749;
    color: white;
    margin-top: 2rem;
}

/* About Section */
.about-section, .service-section {
    width: 50%;
    padding: 1rem;
    text-align: center;
}

.about-container, .service-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.about-item, .service-item {
    flex: 1;
    padding: 0.25rem;
    text-align: left;
}

.about-item img, .service-item img {
    width: 100%;
    border-radius: 10px;
}

.about-item h3 span, .service-item h3 span {
    display: block;
    font-weight: normal;
    font-size: 1.2rem;
    color: #ccc;
}

/* Contact Section */
.contact-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    background-color: #f4f4f4;
    width: 60%;
    margin: 0 auto;
}

.contact-section h1{
    text-align: left;
}

.contact-info, .contact-form {
    width: 45%;
}

.contact-info a {
    color: #7f5a35;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 0.75rem 1.5rem;
    background-color: #7f5a35;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #5f4427;
}

/* Checkbox Styles */
.checkbox-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 8px;
    flex-shrink: 0; /* Verhindert, dass die Checkbox schrumpft oder wächst */
    width: auto;
}

.wave-transition {
    position: relative;
    top: -5px; /* Positionieren, damit es den Übergang verdeckt */
    width: 100%;
    height: auto;
}


/* Media Queries */
@media (max-width: 768px) {
    .about-container, .service-container {
        flex-direction: column;
        align-items: center;
    }

    .about-item, .service-item {
        margin-bottom: 10px;
    }

    .content-text-item {
        width: 80%;
        margin-bottom: 20px;
    }

    .contact-section {
        flex-direction: column;
        gap: 1rem;
    }

    .contact-info, .contact-form {
        width: 100%;
    }
}
